{% extends "base_admin.html" %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container mt-5">
	<div class="row mt-2">
        <div class="col-6 mx-auto">
            <div class="card mb-3">
                <div class="card-header text-bg-danger">
                    Söögi Kustutamine
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        NB! See menüü kustutatakse. {{ app_admin.category_name }}
                    </div>

                    <p>Kas oled kindel, et soovid <strong>{{ foodmenu }}</strong> kustutada? </p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Kustuta" class="btn btn-danger col-4">
                    </form>
                </div>
            </div>
            <a class="btn btn-secondary" href="{% url 'app_admin:food_menu_list' %}">Menüü koostamine</a>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}