{% extends "base_admin.html" %}

{% block content %}
<div class="container mt-5">
    <div class="col-auto mx-auto">
        <div class="card col-12 mx-auto">
            <div class="card-header">
                <div class="card-title d-flex justify-content-between align-self-auto">
                    <h4 class="m-0 mt-2">Valmis menüüd</h4>
                </div>
            </div>
            <div class="table-body mx-4">
                <table class="table table">
                    <thead>
                        <tr>
                            <th>Menüü kuupäev</th>
                            <th>Toidu kategooria</th>
                            <th>Toidu nimetus</th>
                            <th>Täishind</th>
                            <th>Soodushind</th>
                            <th>Näitab Menüüs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object_list %}
                            {% for menu in object_list %}
                                {% for food in menu.food_fooditem.all %}
                                    <tr>
                                        <td>{{ menu.date }}</td>
                                        <td>{{ menu.category }}</td>
                                        <td>{{ food.food }}</td>
                                        <td>{{ food.full_price }}</td>
                                        <td>{{ food.half_price }}</td>
                                        <td>{{ food.show_in_menu }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    <h3>Veel ei ole menüüd sisestatud.</h3>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <a class="btn btn-secondary d-block mx-auto mb-3" href="{% url 'app_admin:food_menu_list' %}"><i class="bi bi-pencil-square"></i> Menüü koostamine</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}